// Import page-specific CSS files here.
@import "home";

body {
  background-color: #000000;
  font-family: Merriweather;
  color: #FFFFFF;
}

.page-content h1{
  font-family: Smythe;
  font-size: 60px;
  text-shadow: 2px 2px 15px #2D8B8B;
}
