<div class="banner">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://hpmedia.bloomsbury.com/rep/g/page-background-shell%20-%202.png);">
  <div class="container">
    <h1 class = "text-center">The Cauldron</h1>
  </div>
</div>
