#login-background {
  background-image: asset-url('background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#registration-background {
  background-image: asset-url('registration.jpg');
  background-size: cover;
  background-position: center;
}

#booking-form {
  background-image: url('form_booking.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


