#login-background {
  background-image: url('background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#registration-background {
  background-image: url('registration.jpg');
  background-size: cover;
  background-position: center;
}

