.border-img {
  width: 650px;
  margin-bottom: 100px;
}

.book-img {
  width: 229px;
  height: 286px;
}

.book {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-input {
  position: absolute;
  top: 263px;
}
