.border-img {
  width: 650px;
  margin-bottom: 100px;
}

.book-img {
  width: 229px;
  height: 286px;
  z-index: 1;
  margin-top: 50px;
  position: absolute;
  margin-left: 199px;
}
.text-input {
  position: absolute;
  top: 280px;
  color: white;
}

.text-details {
  z-index: 1;
  margin-top: 370px;
  margin-left: 142px;
  position: absolute;
}
.text-reviews {
  margin-top: 48px;
  margin-left: 577px;
  position: absolute;
}

.book {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
