.border-img {
  width: 650px;
  margin-bottom: 100px;
}

.book-img {
  border-radius: 10px;
  object-fit: cover;
  width: auto;

}

.book {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-input {
  position: absolute;
  top: 263px;
}
