.navbar-lewagon {
  justify-content: space-between;
  background: #000000;
  box-shadow: 5px 5px 100px rgba(54, 56, 104, 1);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#add-post{
  color: #FFFFFF;
}

.nav-item .nav-link a {
  color: white;
  margin: 0px 20px;
}
